<div>
        <nav>
        <a href="/">Home</a>
        <a href="/beer">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
    <h1>Beers</h1>

</div>

<div>
{{#each beersFromApi}}
    {{> partial this}}
    {{/each}}
</div>
