<div>
    <nav>
        <a href="/">Home</a>
        <a href="/beer">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
    <img src="images/beer.png"/>
    <a href="/beer">Check the Beers</a>
    <a href="/random-beer">Check a random beer</a>
</div>